.vscode
__pycache__
chapters
__init__.py
.env
.gitkeep
recents.json
src/config/recents.json
src/gui/icons/v1
src/gui/icons/v2
QWEN.md
.kilocode
docs/*
server/data/*
translator.db
translator.dev.db
translator.dev.db-shm
translator.dev.db-wal
test/
bin/
.env
server/frontend-react/dist/*
node_modules
server/frontend/dist/*
server/frontend/**/*.js
server/frontend/**/*.vue.js
server/frontend/**/*.tsbuildinfo
translator.db-shm
translator.db-wal
*.kate-swp
server/docs/*.md
run_nt.exe
uv.lock
server/server
